{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
  <form enctype="multipart/form-data" action="/fileupload" method="POST">
    <input id="file_input" name="file" type="file" accept="image/png, image/jpeg" required>
    <button type="submit">Envoyer</button>
  </form>
  <ul class="img-gallery">
    <li><img src="{{imgPath}}" width="300"></li>
  </ul>
{% endblock %}
